In [9]:
import pandas as pd

In [10]:
t=pd.read_csv('titanic.csv')

In [11]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
survived    891 non-null int64
pclass      891 non-null int64
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
fare        891 non-null float64
embarked    889 non-null object
deck        203 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 52.2+ KB

In [12]:
#Simple Random Sampling

In [13]:
t.sample(88)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
244         0       3    male  30.00      0      0    7.2250        C  NaN
514         0       3    male  24.00      0      0    7.4958        S  NaN
625         0       1    male  61.00      0      0   32.3208        S    D
782         0       1    male  29.00      0      0   30.0000        S    D
295         0       1    male    NaN      0      0   27.7208        C  NaN
231         0       3    male  29.00      0      0    7.7750        S  NaN
674         0       2    male    NaN      0      0    0.0000        S  NaN
763         1       1  female  36.00      1      2  120.0000        S    B
362         0       3  female  45.00      0      1   14.4542        C  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
804         1       3    male  27.00      0      0    6.9750        S  NaN
832         0       3    male    NaN      0      0    7.2292        C  NaN
504         1       1  female  16.00      0      0   86.5000        S    B
243         0       3    male  22.00      0      0    7.1250        S  NaN
348         1       3    male   3.00      1      1   15.9000        S  NaN
560         0       3    male    NaN      0      0    7.7500        Q  NaN
527         0       1    male    NaN      0      0  221.7792        S    C
695         0       2    male  52.00      0      0   13.5000        S  NaN
394         1       3  female  24.00      0      2   16.7000        S    G
204         1       3    male  18.00      0      0    8.0500        S  NaN
24          0       3  female   8.00      3      1   21.0750        S  NaN
360         0       3    male  40.00      1      4   27.9000        S  NaN
412         1       1  female  33.00      1      0   90.0000        Q    C
543         1       2    male  32.00      1      0   26.0000        S  NaN
570         1       2    male  62.00      0      0   10.5000        S  NaN
175         0       3    male  18.00      1      1    7.8542        S  NaN
225         0       3    male  22.00      0      0    9.3500        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
618         1       2  female   4.00      2      1   39.0000        S    F
645         1       1    male  48.00      1      0   76.7292        C    D
..        ...     ...     ...    ...    ...    ...       ...      ...  ...
795         0       2    male  39.00      0      0   13.0000        S  NaN
887         1       1  female  19.00      0      0   30.0000        S    B
878         0       3    male    NaN      0      0    7.8958        S  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
15          1       2  female  55.00      0      0   16.0000        S  NaN
670         1       2  female  40.00      1      1   39.0000        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
575         0       3    male  19.00      0      0   14.5000        S  NaN
460         1       1    male  48.00      0      0   26.5500        S    E
613         0       3    male    NaN      0      0    7.7500        Q  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
868         0       3    male    NaN      0      0    9.5000        S  NaN
709         1       3    male    NaN      1      1   15.2458        C  NaN
539         1       1  female  22.00      0      2   49.5000        C    B
875         1       3  female  15.00      0      0    7.2250        C  NaN
621         1       1    male  42.00      1      0   52.5542        S    D
108         0       3    male  38.00      0      0    7.8958        S  NaN
660         1       1    male  50.00      2      0  133.6500        S  NaN
649         1       3  female  23.00      0      0    7.5500        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
195         1       1  female  58.00      0      0  146.5208        C    B
165         1       3    male   9.00      0      2   20.5250        S  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
732         0       2    male    NaN      0      0    0.0000        S  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
538         0       3    male    NaN      0      0   14.5000        S  NaN
469         1       3  female   0.75      2      1   19.2583        C  NaN
302         0       3    male  19.00      0      0    0.0000        S  NaN

[88 rows x 9 columns]

In [14]:
t.sample(88).groupby("pclass").fare.mean()

pclass
1    107.320450
2     22.157243
3     13.701260
Name: fare, dtype: float64

In [18]:
#Systematic Sampling

In [19]:
t.iloc[2:600:21].groupby('sex').age.mean()

sex
female    32.125
male      33.250
Name: age, dtype: float64

In [20]:
#Stratified Sampling

In [22]:
pd.cut(t.age,[0,20,40,55,80],labels=['Child','Young Adult','Adult','Senior citizen']).value_counts()

Young Adult       385
Child             179
Adult             110
Senior citizen     40
Name: age, dtype: int64

In [23]:
t['Age_cat']=pd.cut(t.age,[0,20,40,55,80],labels=['Child','Young Adult','Adult','Senior citizen'])

In [24]:
t.groupby('Age_cat').survived.mean()

Age_cat
Child             0.458101
Young Adult       0.397403
Adult             0.390909
Senior citizen    0.300000
Name: survived, dtype: float64

In [25]:
#Cluster Sampling